.recipe__details,
.recipe__details__time,
.recipe__details__serving,
.recipe__details__likes,
.recipe__buttonDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.recipe__details__time>p,
.recipe__details__serving>p,
.recipe__details__likes>p {
    padding-left: 8px;
}

.recipe {
    width: 345px;
    margin: 40px;
}

.recipe__buttonDiv__viewRecipe {
    padding: 5px;
    border: solid 1px #7F7FFF !important;
    border-radius: 10px;
}