.cooking__container {
    padding: 20px;
}

.cooking__banner_image {
    width: 40%;
    height: 50vh;
    object-fit: contain;
}

.cooking__image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    color: #6C757D;
    text-transform: uppercase;
}

.cooking__details {
    display: flex;
    align-items: center;
    padding: 5px;
}

p {
    margin-left: 10px;
    font-size: 15px;
    color: #4E4D4D;
}

.cooking__ingTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}