.header {
    background-color: #f6f6f7;
    color: #6c757d;
    width: 100%;
    padding-top: 6px;
    text-transform: uppercase;
    font-size: 1.2rem;
    min-height: 60px;
    -webkit-box-shadow: 0 4px 6px -6px rgb(0, 0, 0);
    -moz-box-shadow: 0 4px 6px -6px rgb(0, 0, 0);
    box-shadow: 0 4px 6px -6px rgb(0, 0, 0);
    position: sticky;
    top: 0;
    z-index: 11;
}

.header a {
    text-decoration: none;
    color: #6c757d;
    transition: 0.7s;
}

.header a:hover {
    color: black;
    cursor: pointer;
}

.header__branding {
    float: left;
    margin-left: 10px;
}

.header__search {
    float: right;
    margin-top: 18px;
    font-size: 1rem;
    margin-right: 5px;
}

.header__search_form>input {
    color: black;
    border: none;
    outline: 0;
    padding: 5px;
    background: transparent;
    border-bottom: solid black 1px;
}

.header__search_form>button {
    cursor: pointer;
    color: black;
    border: none;
    padding: 5px;
    background: transparent;
    outline: 0;

}

@media (max-width:960px) {
    .header {
        min-height: 100px;
        margin-bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__branding {
        float: none;
        text-align: center;
    }
}

.header__backToHome {
    padding: 5px;
    border: solid 1px #6C757D;
    border-radius: 10px;
    margin-right: 5px;
}